---
title: 1D 1ROW
---
<div id="contest-wrap" class="text-center">
  <!--   <img class="full-w logo" src="https://s3.amazonaws.com/myfangate.com/1d1row/rdlogo.png">
  <br>
  <img class="img-pad full-w" src="https://s3.amazonaws.com/myfangate.com/1d1row/headline.png">
  <br><br> -->
  <img class="img-pad full-w" src="https://s3.amazonaws.com/myfangate.com/1d1row/healine2.png">
  <br><br>
  <img class="img-pad full-w" src="https://s3.amazonaws.com/myfangate.com/1d1row/sub-head.png">
  <img class="img-pad full-w" src="https://s3.amazonaws.com/myfangate.com/1d1row/band.png">
  <br><br>
  <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/1d1row/sweeps.png">
  <br>
  <%= partial "partials/gform" %>
</div>
  <div class="background"></div>
  <div class="tear-left"></div>
  <div class="tear-right"></div>
<%= partial "partials/gate" %>
